<a href="https://colab.research.google.com/github/mini1115/TIL/blob/master/work1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv',sep='\t')

In [ ]:
df.shape
print("행 : ",df.shape[0])
print("열 : ",df.shape[1])

행 :  51490
열 :  61

In [ ]:
ans = type(df)
print(ans)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [ ]:
df.columns[5]

'firstBlood'

In [ ]:
df.iloc[:,5].dtype

dtype('int64')

In [ ]:
ans = df.index
print(ans)

RangeIndex(start=0, stop=51490, step=1)

In [ ]:
ans = df.iloc[2,5]
print(ans)

2

In [ ]:
ans = df.columns[2][5]
print(ans)

u

In [90]:
# 데이터를 로드하라,컬럼이 한글이기에 적절한 처리
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv',encoding='euc-kr')
df

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,22448,2018-01-01,제주시,도두동,32249.987,3418.266,102709.092,138377.345,39.556,29.167,5.0,0.0,2.50
1,22449,2018-01-01,제주시,외도동,213500.997,10341.172,112692.789,336534.958,32.900,30.900,5.0,0.0,2.50
2,22450,2018-01-01,제주시,이도2동,1212382.218,96920.834,541194.481,1850497.533,29.538,35.692,2.9,0.0,2.40
3,22451,2018-01-01,제주시,일도1동,33991.653,6034.253,72155.919,112181.825,30.000,23.500,2.9,0.0,2.40
4,22452,2018-01-01,서귀포시,대천동,155036.925,9403.969,150882.409,315323.303,41.583,14.375,5.1,0.0,2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9616,32064,2020-04-30,서귀포시,표선면,228260.005,16891.732,152832.449,397984.186,44.514,34.054,18.1,0.0,4.70
9617,32065,2020-04-30,제주시,한림읍,459959.064,26007.122,249700.419,735666.605,48.609,61.377,18.0,0.0,4.35
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.00
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.50
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.80

In [ ]:
# 데이터 마지막 3개 행을 출력하라
df.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

In [ ]:
# 수치형 변수를 가진 컬럼을 출력하라
ans = df.select_dtypes(exclude=object).columns
print(ans)

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

In [ ]:
# 범주형 변수를 가진 컬럼을 출력하라
ans = df.select_dtypes(include='object').columns
print(ans)

Index(['일자', '시도명', '읍면동명'], dtype='object')

In [ ]:
ans = df.isnull().sum()
print(ans)

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [ ]:
# 각 컬럼의 데이터수, 데이터타입을 확인하라
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

In [ ]:
# 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라
ans = df.describe()
print(ans)

                 id          거주인구           근무인구           방문인구        총 유동인구  \
count   9621.000000  9.621000e+03    9621.000000    9621.000000  9.621000e+03
mean   27258.000000  3.174315e+05   35471.201510  195889.561802  5.487922e+05
std     2777.487804  2.982079e+05   40381.214775  140706.090325  4.608802e+05
min    22448.000000  9.305552e+03    1407.936000   11538.322000  2.225181e+04
25%    24853.000000  9.539939e+04   12074.498000   99632.153000  2.216910e+05
50%    27258.000000  2.221105e+05   21960.928000  152805.335000  3.866935e+05
75%    29663.000000  4.106671e+05   40192.032000  236325.109000  6.406918e+05
max    32068.000000  1.364504e+06  263476.965000  723459.209000  2.066484e+06

             평균 속도     평균 소요 시간        평균 기온         일강수량        평균 풍속
count  9621.000000  9621.000000  9621.000000  9621.000000  9621.000000
mean     41.109084    37.215873    13.550828     6.972426     2.753171
std       8.758631    12.993786     7.745515    27.617260     1.498538
min      24.333000    12.667000    -9.600000     0.000000     0.000000
25%      34.250000    27.889000     7.600000     0.000000     1.700000
50%      39.640000    34.500000    13.400000     0.000000     2.400000
75%      49.105000    46.176000    19.700000     1.500000     3.400000
max     103.000000   172.200000    30.400000   587.500000    13.333000

In [ ]:
# 거주인구 컬럼의 값들을 출력하라
ans = df['거주인구']
print(ans)

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

In [ ]:
# 평균 속도 컬럼의 4분위 범위(IQR) 값을 구하여라

df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)

14.854999999999997

In [ ]:
df['평균 속도'].describe()

count    9621.000000
mean       41.109084
std         8.758631
min        24.333000
25%        34.250000
50%        39.640000
75%        49.105000
max       103.000000
Name: 평균 속도, dtype: float64

In [ ]:
# 읍면동명 컬럼의 유일값 갯수를 출력하라
df['읍면동명'].nunique()

41

In [ ]:
# 읍면동명 컬럼의 유일값을 모두 출력하라
df['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

In [91]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [92]:
# quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라
ans = df.loc[df['quantity']==3].head()
print(ans)

     order_id  quantity          item_name  \
409       178         3       Chicken Bowl
445       193         3               Bowl
689       284         3  Canned Soft Drink
818       338         3      Bottled Water
850       350         3  Canned Soft Drink

                                    choice_description item_price
409  [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...    $32.94
445  [Braised Carnitas, Pinto Beans, [Sour Cream, C...    $22.20
689                                        [Diet Coke]     $3.75
818                                                NaN     $3.27
850                                           [Sprite]     $3.75

In [95]:
# quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

df.loc[df['quantity']==3].reset_index(drop=True).head()

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

In [98]:
# quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라

new_df = df[['quantity','item_price']]
print(new_df)

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [102]:
df['new_price']=df['item_price'].str.replace('$','',regex=False).astype(float);
df

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [107]:
# new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

ans = len(df.loc[df['new_price']<=5])
print(ans)

1652

In [111]:
# item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라

ans= df.loc[df['item_name']=='Chicken Salad Bowl'].reset_index(drop=True)
print(ans)

     order_id  quantity           item_name  \
0          20         1  Chicken Salad Bowl
1          60         2  Chicken Salad Bowl
2          94         2  Chicken Salad Bowl
3         111         1  Chicken Salad Bowl
4         137         2  Chicken Salad Bowl
..        ...       ...                 ...
105      1813         2  Chicken Salad Bowl
106      1822         1  Chicken Salad Bowl
107      1834         1  Chicken Salad Bowl
108      1834         1  Chicken Salad Bowl
109      1834         1  Chicken Salad Bowl

                                    choice_description item_price  new_price
0    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
1    [Tomatillo Green Chili Salsa, [Sour Cream, Che...    $22.50       22.50
2    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $22.50       22.50
3    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
4              [Fresh Tomato Salsa, Fajita Vegetables]    $17.50       17.50
..                                                 ...        ...        ...
105  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $17.50       17.50
106  [Fresh Tomato Salsa, [Black Beans, Cheese, Gua...    $11.25       11.25
107  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25       11.25
108  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
109  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

[110 rows x 6 columns]

In [113]:
# new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

ans = df.loc[(df['new_price']<=9) & (df['item_name']=='Chicken Salad Bowl')]
print(ans)

      order_id  quantity           item_name  \
44          20         1  Chicken Salad Bowl
256        111         1  Chicken Salad Bowl
526        220         1  Chicken Salad Bowl
528        221         1  Chicken Salad Bowl
529        221         1  Chicken Salad Bowl
568        234         1  Chicken Salad Bowl
585        240         1  Chicken Salad Bowl
693        286         1  Chicken Salad Bowl
702        289         1  Chicken Salad Bowl
762        314         1  Chicken Salad Bowl
1109       458         1  Chicken Salad Bowl
1460       592         1  Chicken Salad Bowl
1471       598         1  Chicken Salad Bowl
1483       602         1  Chicken Salad Bowl
1547       628         1  Chicken Salad Bowl
1601       649         1  Chicken Salad Bowl
1621       654         1  Chicken Salad Bowl
1756       709         1  Chicken Salad Bowl
1977       798         1  Chicken Salad Bowl
2031       818         1  Chicken Salad Bowl
2113       850         1  Chicken Salad Bowl
2224       896         1  Chicken Salad Bowl
2314       926         1  Chicken Salad Bowl
2728      1083         1  Chicken Salad Bowl
2858      1136         1  Chicken Salad Bowl
2883      1145         1  Chicken Salad Bowl
2897      1152         1  Chicken Salad Bowl
2989      1189         1  Chicken Salad Bowl
3033      1206         1  Chicken Salad Bowl
3069      1222         1  Chicken Salad Bowl
3117      1243         1  Chicken Salad Bowl
3259      1305         1  Chicken Salad Bowl
3261      1305         1  Chicken Salad Bowl
3310      1327         1  Chicken Salad Bowl
3315      1329         1  Chicken Salad Bowl
3381      1357         1  Chicken Salad Bowl
3411      1368         1  Chicken Salad Bowl
3623      1450         1  Chicken Salad Bowl
3656      1461         1  Chicken Salad Bowl
3706      1483         1  Chicken Salad Bowl
3712      1483         1  Chicken Salad Bowl
3790      1517         1  Chicken Salad Bowl
3798      1521         1  Chicken Salad Bowl
3974      1592         1  Chicken Salad Bowl
3997      1601         1  Chicken Salad Bowl
4012      1606         1  Chicken Salad Bowl
4035      1615         1  Chicken Salad Bowl
4064      1627         1  Chicken Salad Bowl
4205      1679         1  Chicken Salad Bowl
4207      1679         1  Chicken Salad Bowl
4333      1730         1  Chicken Salad Bowl
4352      1738         1  Chicken Salad Bowl
4439      1769         1  Chicken Salad Bowl
4520      1797         1  Chicken Salad Bowl
4620      1834         1  Chicken Salad Bowl
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price  new_price
44    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
256   [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
526   [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
528   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
529   [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
568             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
585             [Fresh Tomato Salsa, Fajita Vegetables]     $8.75        8.75
693   [Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...     $8.75        8.75
702   [Tomatillo Red Chili Salsa, [Black Beans, Chee...     $8.75        8.75
762   [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
1109  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1460                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
1471  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1483  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
1547  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
1601  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1621  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75        8.75
1756  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
1977  [Fresh Tomato Salsa, [Fajita Vegetables, Sour ...     $8.75        8.75
2031  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75        8.75
2113  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]     $8.75        8.75
2224  [Fresh Tomato Salsa, [Pinto Beans, Sour Cream,...     $8.75        8.75
2314     [Roasted Chili Corn Salsa, [Rice, Sour Cream]]     $8.75        8.75
2728      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75        8.75
2858  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
2883  [Roasted Chili Corn Salsa, [Black Beans, Sour ...     $8.75        8.75
2897                 [Roasted Chili Corn Salsa, Cheese]     $8.75        8.75
2989  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $8.75        8.75
3033            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3069  [Fresh Tomato Salsa, [Fajita Vegetables, Black...     $8.75        8.75
3117  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3259  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75
3261  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3310                               [Fresh Tomato Salsa]     $8.75        8.75
3315              [Fresh Tomato Salsa, [Rice, Lettuce]]     $8.75        8.75
3381            [Fresh Tomato Salsa, [Cheese, Lettuce]]     $8.75        8.75
3411       [Fresh Tomato Salsa, [Pinto Beans, Lettuce]]     $8.75        8.75
3623  [Roasted Chili Corn Salsa, [Rice, Pinto Beans,...     $8.75        8.75
3656  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
3706  [Roasted Chili Corn Salsa, [Pinto Beans, Chees...     $8.75        8.75
3712  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
3790  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
3798  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
3974  [Fresh Tomato Salsa, [Rice, Pinto Beans, Lettu...     $8.75        8.75
3997  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $8.75        8.75
4012                               [Fresh Tomato Salsa]     $8.75        8.75
4035  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $8.75        8.75
4064  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4205  [Roasted Chili Corn Salsa, [Black Beans, Chees...     $8.75        8.75
4207  [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75        8.75
4333        [Tomatillo Red Chili Salsa, [Rice, Cheese]]     $8.75        8.75
4352  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...     $8.75        8.75
4439  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75        8.75
4520                      [Fresh Tomato Salsa, Lettuce]     $8.75        8.75
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75        8.75

In [119]:
# df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

ans = df.sort_values(by='new_price',ascending=True).reset_index(drop=True)
print(ans)

      order_id  quantity                     item_name  \
0          471         1                 Bottled Water
1          338         1                   Canned Soda
2         1575         1                   Canned Soda
3           47         1                   Canned Soda
4         1014         1                   Canned Soda
...        ...       ...                           ...
4617      1443         3                Veggie Burrito
4618      1443         4               Chicken Burrito
4619       511         4               Chicken Burrito
4620      1398         3                 Carnitas Bowl
4621      1443        15  Chips and Fresh Tomato Salsa

                                     choice_description item_price  new_price
0                                                   NaN     $1.09        1.09
1                                           [Coca Cola]     $1.09        1.09
2                                          [Dr. Pepper]     $1.09        1.09
3                                          [Dr. Pepper]     $1.09        1.09
4                                           [Coca Cola]     $1.09        1.09
...                                                 ...        ...        ...
4617  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $33.75       33.75
4618  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...    $35.00       35.00
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $35.00       35.00
4620  [Roasted Chili Corn Salsa, [Fajita Vegetables,...    $35.25       35.25
4621                                                NaN    $44.25       44.25

[4622 rows x 6 columns]

In [ ]:
# df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

df.loc[df['item_namme']]