# 이진 분류 연습문제

### Q1. 환자의 당뇨병 여부를 예측하시오.
    당뇨병을 예측하는 모델을 만든 후 이를 평가용 데이터(test)에 적용해 얻은 예측값을 다음과 같은 형식의 CSV 파일로 생성하시오.
  - 제공된 데이터 목록 : diabetes_train.csv, diabetes_test.csv
  - 예측할 컬럼 : Outcome(0: 정상, 1: 당뇨병)

In [1]:
from google.colab import files
uploaded = files.upload()

Saving diabetes_train.csv to diabetes_train.csv
Saving diabetes_test.csv to diabetes_test.csv

In [28]:
import pandas as pd
train = pd.read_csv("diabetes_train.csv")
test = pd.read_csv("diabetes_test.csv")

In [6]:
train.shape, test.shape

((614, 9), (154, 8))

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               614 non-null    int64
 1   Glucose                   614 non-null    int64
 2   BloodPressure             614 non-null    int64
 3   SkinThickness             614 non-null    int64
 4   Insulin                   614 non-null    int64
 5   BMI                       614 non-null    float64
 6   DiabetesPedigreeFunction  614 non-null    float64
 7   Age                       614 non-null    int64
 8   Outcome                   614 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 43.3 KB

In [8]:
train.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,3.789902,120.659609,69.366450,20.969055,80.382736,32.067427,0.475490,33.250814,0.343648
std,3.384519,32.556686,18.847224,15.923677,111.332249,7.888971,0.326519,11.789160,0.475313
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.500000,0.000000,0.000000,27.300000,0.245500,24.000000,0.000000
50%,3.000000,116.000000,72.000000,23.000000,36.000000,32.100000,0.381500,29.000000,0.000000
75%,6.000000,140.750000,80.000000,32.000000,128.750000,36.600000,0.629750,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,680.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               154 non-null    int64
 1   Glucose                   154 non-null    int64
 2   BloodPressure             154 non-null    int64
 3   SkinThickness             154 non-null    int64
 4   Insulin                   154 non-null    int64
 5   BMI                       154 non-null    float64
 6   DiabetesPedigreeFunction  154 non-null    float64
 7   Age                       154 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 9.8 KB

In [11]:
test.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,4.064935,121.831169,68.064935,18.811688,77.474026,31.694156,0.457468,33.201299
std,3.311054,29.611163,21.297358,16.001131,130.046960,7.883533,0.350588,11.682275
min,0.000000,56.000000,0.000000,0.000000,0.000000,0.000000,0.085000,21.000000
25%,1.000000,99.000000,62.500000,0.000000,0.000000,27.500000,0.234250,24.000000
50%,3.000000,119.500000,70.000000,20.500000,0.000000,32.000000,0.334500,29.000000
75%,6.000000,139.750000,80.000000,32.000000,105.750000,36.100000,0.592750,40.000000
max,13.000000,197.000000,114.000000,50.000000,846.000000,52.300000,2.329000,69.000000

In [12]:
train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,118,58,36,94,33.3,0.261,23,0
1,3,173,78,39,185,33.8,0.970,31,1
2,4,109,64,44,99,34.8,0.905,26,1
3,9,57,80,37,0,32.8,0.096,41,0
4,2,129,0,0,0,38.5,0.304,41,0

In [14]:
train.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [15]:
test.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [16]:
train['Outcome'].value_counts()

Outcome
0    403
1    211
Name: count, dtype: int64

In [17]:
target = train.pop('Outcome')

In [18]:
target.value_counts()

Outcome
0    403
1    211
Name: count, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val= train_test_split(train,target,test_size=0.2,random_state = 0)

print("\n테스트 크기")
print(X_tr.shape,X_val.shape,y_tr.shape,y_val.shape)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

print("\n====== 예측결과 샘플 5개 확인=====")
print(pred[:5])

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val,pred[:,1])
print('\n roc_auc :',roc_auc)

pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred':pred[:,1]})
submit.to_csv("result.csv",index=False)

print("\n =========제출 샘플 5개==========")
print(pd.read_csv("result.csv").head())

테스트 크기
(491, 8) (123, 8) (491,) (123,)

====== 예측결과 샘플 5개 확인=====
[[0.88 0.12]
 [0.29 0.71]
 [0.41 0.59]
 [0.75 0.25]
 [0.89 0.11]]

 roc_auc : 0.8002739726027398

 =========제출 샘플 5개==========
   pred
0  0.17
1  0.33
2  0.11
3  0.04
4  0.09

#### 성능 개선
    1차 베이스라인 : 0.8002739726027398

In [29]:
target = train.pop('Outcome')

In [33]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

# 검증 데이터 나누기
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth = 5, n_estimators=500,random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val,pred[:,1])
print("ROC_AUC: ",roc_auc)

# 성능이 더높으므로 수정한다

pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred':pred[:,1]})
submit.to_csv("result.csv",index=False)

ROC_AUC:  0.8246575342465753

### Q2. 새로운 일자리를 예측하시오
    학습 데이터를 이용해 새 일자리를 찾을지 예측하는 모델을 만든 후 이를 평가용 데이터(test)에 적용해 얻은 예측값을 다음과 같은 형식의 csv 파일로 생성하시오.
  - 제공된 데이터 목록 : hr_train.csv, hr_test.csv
  - 예측할 컬럼 : target(0 : 새 일자리를 찾지 않음, 1 : 새 일자리를 찾음)

In [34]:
from google.colab import files
uploaded = files.upload()

Saving hr_train.csv to hr_train.csv
Saving hr_test.csv to hr_test.csv

In [67]:
import pandas as pd
train = pd.read_csv("hr_train.csv")
test = pd.read_csv("hr_test.csv")

In [37]:
train.shape,test.shape

((15326, 14), (3832, 13))

In [40]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15326 non-null  int64
 1   city                    15326 non-null  object
 2   city_development_index  15326 non-null  float64
 3   gender                  11750 non-null  object
 4   relevent_experience     15326 non-null  object
 5   enrolled_university     15012 non-null  object
 6   education_level         14961 non-null  object
 7   major_discipline        13045 non-null  object
 8   experience              15272 non-null  object
 9   company_size            10539 non-null  object
 10  company_type            10383 non-null  object
 11  last_new_job            14984 non-null  object
 12  training_hours          15326 non-null  int64
 13  target                  15326 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.6+ MB

In [41]:
train.describe()

        enrollee_id  city_development_index  training_hours        target
count  15326.000000            15326.000000    15326.000000  15326.000000
mean   16890.840663                0.828909       65.110596      0.248532
std     9615.509411                0.123372       59.610006      0.432176
min        2.000000                0.448000        1.000000      0.000000
25%     8582.500000                0.740000       23.000000      0.000000
50%    16982.000000                0.903000       47.000000      0.000000
75%    25186.250000                0.920000       88.000000      0.000000
max    33380.000000                0.949000      336.000000      1.000000

In [42]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3832 entries, 0 to 3831
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             3832 non-null   int64
 1   city                    3832 non-null   object
 2   city_development_index  3832 non-null   float64
 3   gender                  2900 non-null   object
 4   relevent_experience     3832 non-null   object
 5   enrolled_university     3760 non-null   object
 6   education_level         3737 non-null   object
 7   major_discipline        3300 non-null   object
 8   experience              3821 non-null   object
 9   company_size            2681 non-null   object
 10  company_type            2635 non-null   object
 11  last_new_job            3751 non-null   object
 12  training_hours          3832 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 389.3+ KB

In [54]:
test.describe(include='O')

,city,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job
count,3832,2900,3832,3760,3737,3300,3821,2681,2635,3751
unique,113,3,2,3,5,6,22,8,6,6
top,city_103,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,1
freq,845,2620,2850,2775,2356,2954,613,630,1979,1626

In [44]:
train.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    3576
relevent_experience          0
enrolled_university        314
education_level            365
major_discipline          2281
experience                  54
company_size              4787
company_type              4943
last_new_job               342
training_hours               0
target                       0
dtype: int64

In [45]:
test.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                     932
relevent_experience          0
enrolled_university         72
education_level             95
major_discipline           532
experience                  11
company_size              1151
company_type              1197
last_new_job                81
training_hours               0
dtype: int64

#### Null 컬럼

1.   gender
2.   enrolled_university
3.   education_level
4.   major_discipline
5.   experience
6.   company_size
7.   company_type
8.   last_new_job

In [47]:
train.nunique()

enrollee_id               15326
city                        123
city_development_index       93
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
target                        2
dtype: int64

In [49]:
test.nunique()

enrollee_id               3832
city                       113
city_development_index      87
gender                       3
relevent_experience          2
enrolled_university          3
education_level              5
major_discipline             6
experience                  22
company_size                 8
company_type                 6
last_new_job                 6
training_hours             235
dtype: int64

In [53]:
target = train['target']
target.value_counts()

target
0.0    11517
1.0     3809
Name: count, dtype: int64

# train과 test 범주형 데이터 비교
object 컬럼과 카테고리가 많이 있을때 train과 test 차이를 눈으로 비교하기 어렵다
또한 카테고리 개수 같더라도 값이 다를 수 있다. 중복을 허용하지 않는 set을 통해 비교하자.

In [56]:
cols = train.select_dtypes(include='object').columns
for col in cols:
  set_train = set(train[col])
  set_test = set(test[col])
  same = (set_train == set_test)
  if same:
    print(col,"\t 동일함")
  else:
    print(col,"\t 동일하지않음")

city 	 동일하지않음
gender 	 동일함
relevent_experience 	 동일함
enrolled_university 	 동일함
education_level 	 동일함
major_discipline 	 동일함
experience 	 동일함
company_size 	 동일함
company_type 	 동일함
last_new_job 	 동일함

In [57]:
target = train.pop('target')

In [59]:
# 결측치를 모두 X 처리

train = train.fillna('X')
test = test.fillna('X')

combined = pd.concat([train,test])
combined_dummies = pd.get_dummies(combined)
n_train = len(train)
train = combined_dummies[:n_train]
test = combined_dummies[n_train:]

In [66]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val,pred[:,1])
print('roc-auc: ',roc_auc)

pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred' :pred[:,1]})
submit.to_csv("result.csv",index=False)

roc-auc:  0.7730742036233207

#### 성능개선
    원-핫 인코딩 -> 레이블 인코딩 변경
    스케일링
    id 제거

In [68]:
target = train.pop('target')
train = train.fillna('X')
test = test.fillna('X')
from sklearn.preprocessing import LabelEncoder
combined = pd.concat([train,test])
cols = train.select_dtypes(include='object').columns

In [80]:


for col in cols:
  le = LabelEncoder()
  combined[col] = le.fit_transform(combined[col])

n_train = len(train)
train = combined[:n_train]
test = combined[n_train:]

from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
n_cols = train.select_dtypes(exclude='object').columns
train = scaler.fit_transform(train)
test = scaler.fit_transform(test)

from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2,random_state=0)

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=5,n_estimators=500,random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val,pred[:,1])
print("roc_auc: ",roc_auc)

# 성능향상
pred = rf.predict_proba(test)
submit = pd.DataFrame({'pred':pred[:,1]})
submit.to_csv("result.csv",index=False)

roc_auc:  0.7804684610017746

### Q3. 신용카드 신청자의 미래 신용 예측
    신용카드 신청자의 채무 불이행을 예측하시오. 학습용 데이터를 이용해 신용카드 신청자의 데이터를 바탕으로 미래의 채무 불이행을 예측하는 모델을 만든 후 이를 평가용 데이터(test)에 적용해 얻은 예측값을 다음과 같은 형식의 csv 파일로 생성하시오.
  - 제공된 데이터 목록 : creditcard_train.csv, creditcard_test.csv
  - 예측할 컬럼 : target(0 : 채무 이행, 1 : 채무 불이행)

In [81]:
from google.colab import files
uploaded = files.upload()

Saving creditcard_train.csv to creditcard_train.csv
Saving creditcard_test.csv to creditcard_test.csv

In [125]:
import pandas as pd
train = pd.read_csv("creditcard_train.csv")
test = pd.read_csv("creditcard_test.csv")

In [84]:
train.shape,test.shape

((25519, 19), (7591, 18))

In [86]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25519 entries, 0 to 25518
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   25519 non-null  int64
 1   CODE_GENDER          25519 non-null  object
 2   FLAG_OWN_CAR         25519 non-null  object
 3   FLAG_OWN_REALTY      25519 non-null  object
 4   CNT_CHILDREN         25519 non-null  int64
 5   AMT_INCOME_TOTAL     25519 non-null  float64
 6   NAME_INCOME_TYPE     25519 non-null  object
 7   NAME_EDUCATION_TYPE  25519 non-null  object
 8   NAME_FAMILY_STATUS   25519 non-null  object
 9   NAME_HOUSING_TYPE    25519 non-null  object
 10  DAYS_BIRTH           25519 non-null  int64
 11  DAYS_EMPLOYED        25519 non-null  int64
 12  FLAG_MOBIL           25519 non-null  int64
 13  FLAG_WORK_PHONE      25519 non-null  int64
 14  FLAG_PHONE           25519 non-null  int64
 15  FLAG_EMAIL           25519 non-null  int64
 16  OCCUPATION_TYPE      17543 non-null  object
 17  CNT_FAM_MEMBERS      25519 non-null  float64
 18  STATUS               25519 non-null  int64
dtypes: float64(2), int64(9), object(8)
memory usage: 3.7+ MB

In [87]:
train.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,STATUS
count,2.551900e+04,25519.000000,2.551900e+04,25519.000000,25519.000000,25519.0,25519.000000,25519.000000,25519.000000,25519.000000,25519.000000
mean,5.078128e+06,0.431169,1.870835e+05,-16003.397194,59675.937184,1.0,0.225518,0.295153,0.090952,2.200321,0.017007
std,4.186105e+04,0.751174,1.027817e+05,4204.377534,138017.257118,0.0,0.417931,0.456120,0.287546,0.916832,0.129299
min,5.008804e+06,0.000000,2.700000e+04,-25152.000000,-15661.000000,1.0,0.000000,0.000000,0.000000,1.000000,0.000000
25%,5.042012e+06,0.000000,1.215000e+05,-19495.000000,-3143.000000,1.0,0.000000,0.000000,0.000000,2.000000,0.000000
50%,5.069451e+06,0.000000,1.575000e+05,-15589.000000,-1540.000000,1.0,0.000000,0.000000,0.000000,2.000000,0.000000
75%,5.114646e+06,1.000000,2.250000e+05,-12483.000000,-405.000000,1.0,0.000000,1.000000,0.000000,3.000000,0.000000
max,5.150487e+06,19.000000,1.575000e+06,-7705.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000,1.000000

In [88]:
train.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,STATUS
0,5010092,F,N,N,0,225000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-10304,-1682,1,0,0,0,Laborers,2.0,0
1,5116701,M,N,Y,1,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-10189,-1189,1,1,1,0,NaN,3.0,0
2,5069290,F,N,Y,0,270000.0,Commercial associate,Incomplete higher,Married,House / apartment,-14783,-3397,1,0,0,0,Core staff,2.0,0
3,5113315,F,Y,Y,0,153000.0,Working,Secondary / secondary special,Married,House / apartment,-19503,-10147,1,0,0,1,High skill tech staff,2.0,0
4,5148853,M,Y,Y,0,261000.0,Working,Secondary / secondary special,Married,House / apartment,-15708,-5250,1,0,0,0,Laborers,2.0,0

In [89]:
train.isnull().sum()

ID                        0
CODE_GENDER               0
FLAG_OWN_CAR              0
FLAG_OWN_REALTY           0
CNT_CHILDREN              0
AMT_INCOME_TOTAL          0
NAME_INCOME_TYPE          0
NAME_EDUCATION_TYPE       0
NAME_FAMILY_STATUS        0
NAME_HOUSING_TYPE         0
DAYS_BIRTH                0
DAYS_EMPLOYED             0
FLAG_MOBIL                0
FLAG_WORK_PHONE           0
FLAG_PHONE                0
FLAG_EMAIL                0
OCCUPATION_TYPE        7976
CNT_FAM_MEMBERS           0
STATUS                    0
dtype: int64

In [90]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7591 entries, 0 to 7590
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   7591 non-null   int64
 1   CODE_GENDER          7591 non-null   object
 2   FLAG_OWN_CAR         7591 non-null   object
 3   FLAG_OWN_REALTY      7591 non-null   object
 4   CNT_CHILDREN         7591 non-null   int64
 5   AMT_INCOME_TOTAL     7591 non-null   float64
 6   NAME_INCOME_TYPE     7591 non-null   object
 7   NAME_EDUCATION_TYPE  7591 non-null   object
 8   NAME_FAMILY_STATUS   7591 non-null   object
 9   NAME_HOUSING_TYPE    7591 non-null   object
 10  DAYS_BIRTH           7591 non-null   int64
 11  DAYS_EMPLOYED        7591 non-null   int64
 12  FLAG_MOBIL           7591 non-null   int64
 13  FLAG_WORK_PHONE      7591 non-null   int64
 14  FLAG_PHONE           7591 non-null   int64
 15  FLAG_EMAIL           7591 non-null   int64
 16  OCCUPATION_TYPE      7591 non-null   object
 17  CNT_FAM_MEMBERS      7591 non-null   float64
dtypes: float64(2), int64(8), object(8)
memory usage: 1.0+ MB

In [91]:
test.describe()

,ID,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
count,7.591000e+03,7591.000000,7.591000e+03,7591.000000,7591.000000,7591.0,7591.000000,7591.000000,7591.000000,7591.000000
mean,5.078973e+06,0.510868,1.936590e+05,-14746.877091,-2618.936504,1.0,0.273350,0.290607,0.097616,2.288236
std,4.201850e+04,0.762844,1.019052e+05,3479.886967,2346.236308,0.0,0.445708,0.454073,0.296814,0.932458
min,5.008811e+06,0.000000,2.700000e+04,-24611.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.042296e+06,0.000000,1.350000e+05,-17446.500000,-3476.000000,1.0,0.000000,0.000000,0.000000,2.000000
50%,5.079257e+06,0.000000,1.800000e+05,-14547.000000,-1930.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,5.115612e+06,1.000000,2.250000e+05,-11901.000000,-978.000000,1.0,1.000000,1.000000,0.000000,3.000000
max,5.150484e+06,5.000000,1.575000e+06,-7489.000000,-43.000000,1.0,1.000000,1.000000,1.000000,7.000000

In [92]:
test.isnull().sum()

ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
OCCUPATION_TYPE        0
CNT_FAM_MEMBERS        0
dtype: int64

In [94]:
# 0 : 채무 이행 , 1: 채무 불이행
train['STATUS'].value_counts()

STATUS
0    25085
1      434
Name: count, dtype: int64

In [96]:
cols = train.select_dtypes(include='object').columns
for col in cols:
  set_train = set(train[col])
  set_test = set(test[col])
  same = (set_train==set_test)
  if(same):
    print(col,"\t 일치")
  else :
    print(col,"\t 불일치")

CODE_GENDER 	 일치
FLAG_OWN_CAR 	 일치
FLAG_OWN_REALTY 	 일치
NAME_INCOME_TYPE 	 일치
NAME_EDUCATION_TYPE 	 일치
NAME_FAMILY_STATUS 	 일치
NAME_HOUSING_TYPE 	 일치
OCCUPATION_TYPE 	 불일치

#### 컬럼 삭제 전 반드시 전후 크기를 비교하자

In [98]:
print("삭제 전 ",train.shape)
train.dropna(subset=['OCCUPATION_TYPE'],inplace=True)
print("삭제 후",train.shape)

삭제 전  (25519, 19)
삭제 후 (17543, 19)

In [99]:
target = train.pop('STATUS')

In [100]:
# 원-핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [102]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2,random_state=0)

In [103]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict(X_val)

In [104]:
from sklearn.metrics import f1_score
score = f1_score(y_val,pred)
print("F1 Score: ",score)

F1 Score:  0.22018348623853212

In [107]:
pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv("result.csv",index=False)

#### 성능개선
    불균형 데이터일 경우 평가지표가 낮게 나올수 있다. 현재 F1_SCORE = 0.22
    F1 스코어는 1에 가까울소록 좋은 성능이다.
    불균형 데이터를 자동 균형있게 조절하는 -> class_weight='balanced'

In [126]:
# 결측치 제거
freq = train['OCCUPATION_TYPE'].mode()[0]
train['OCCUPATION_TYPE'].fillna(freq)
test['OCCUPATION_TYPE'].fillna(freq)

0                 Accountants
1       High skill tech staff
2                    Laborers
3                    Laborers
4                     Drivers
                ...
7586                 Managers
7587                  Drivers
7588                 Managers
7589              Sales staff
7590                 Laborers
Name: OCCUPATION_TYPE, Length: 7591, dtype: object

In [127]:
target = train.pop('STATUS')

In [128]:
train.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5010092,F,N,N,0,225000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-10304,-1682,1,0,0,0,Laborers,2.0
1,5116701,M,N,Y,1,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-10189,-1189,1,1,1,0,NaN,3.0
2,5069290,F,N,Y,0,270000.0,Commercial associate,Incomplete higher,Married,House / apartment,-14783,-3397,1,0,0,0,Core staff,2.0
3,5113315,F,Y,Y,0,153000.0,Working,Secondary / secondary special,Married,House / apartment,-19503,-10147,1,0,0,1,High skill tech staff,2.0
4,5148853,M,Y,Y,0,261000.0,Working,Secondary / secondary special,Married,House / apartment,-15708,-5250,1,0,0,0,Laborers,2.0

In [129]:
train = train.drop('ID',axis=1)
test = test.drop('ID',axis=1)

In [130]:
from sklearn.preprocessing import LabelEncoder
cols = train.select_dtypes(include='object').columns
for col in cols:
  le = LabelEncoder()
  train[col] = le.fit_transform(train[col])
  test[col] = le.fit_transform(test[col])

In [131]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2,random_state=0)

In [137]:
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier(n_estimators=500,class_weight='balanced',random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict(X_val)

In [139]:
from sklearn.metrics import f1_score
score = f1_score(y_val,pred)
print(score)

pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv("result.csv",index=False)

0.3241106719367589